.top-menu{
    position: sticky;
    width: 100%;
    background-color: #2C2B3C;
    top: 0ex;
    bottom: 0ex;
    left: 0ex;

    margin-bottom: 30px;
}
.menu-group{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu{
    padding: 10px 15px;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
.content{
    width: 70%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.closing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile{
    width: 100px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: #F7AA27;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #F7AA27;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
p{
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
li{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #262533;
    background-color: #F7AA27;
}
button:hover{
    background-color: #262533;
    color: #F7AA27;
}
